body {
  color: #333;
  font-family: Verdana, sans-serif;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

header {
  background-color: #efefef;
  padding-top: 32px;
  padding-bottom: 5px;
}

.container {
  /*background-color: pink;*/
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}


.icon img {
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
  border-color: white;
  margin-top: 10px;
}

.info {
  /*background-color: tomato;*/
  margin-left: 32px;
}

.info h1{
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.info p{
  margin: 0;
  margin-bottom:16px;
}

.info ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.info li{
  margin: 10px;
}

#nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: #efefef;
}

#nav a{
  padding-right: 20px;
  padding-bottom: 10px;
}

.works {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.works > h1{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0px;
}

.works > section {
  margin-bottom: 60px;
}

.works > section > h1 {
  font-weight: bold;

}

.works h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 14px;
}

.works p {
  line-height: 1;
  width: 505px;
  
}


footer {
  background-color:#efefef;
  height: 250px;
  z-index: 0;
}


footer p{
  text-align:;
  font-size: 14px;
  color:black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
}